Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
.idea
/.nova
.vscode
/.zed

# Node.js workspace artefacts
/nodejs/node_modules
/nodejs/dist
/nodejs/.idea

.DS_Store
data
dist
