stages:
  - release

variables:
  COMPOSER_CACHE_DIR: "$CI_PROJECT_DIR/.composer-cache"

cache:
  key:
    files:
      - composer.lock
  paths:
    - vendor/
    - .composer-cache/

release:
  stage: release
  image: composer:2
  rules:
    - if: '$CI_COMMIT_TAG'
  before_script:
    - composer --version
  script:
    - composer install --no-dev --optimize-autoloader --no-interaction --prefer-dist
    - tar \
        --exclude='.git' \
        --exclude='.gitlab' \
        --exclude='.composer-cache' \
        --exclude='node_modules' \
        -czf "cac-demat-php-${CI_COMMIT_TAG}.tar.gz" \
        .
  artifacts:
    name: "cac-demat-php-${CI_COMMIT_TAG}"
    paths:
      - "cac-demat-php-${CI_COMMIT_TAG}.tar.gz"
    expire_in: 1 week
  release:
    name: "$CI_COMMIT_TAG"
    tag_name: "$CI_COMMIT_TAG"
    description: "Automated release for $CI_COMMIT_TAG"
    assets:
      links:
        - name: "Download package"
          url: "${CI_PROJECT_URL}/-/jobs/${CI_JOB_ID}/artifacts/file/cac-demat-php-${CI_COMMIT_TAG}.tar.gz"
